
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.table{
    width:600px;
    margin-left: auto;
    margin-right: auto;
}

.table th:not([align]) {
    background-color: rgb(182, 214, 226);
}

.button.is-primary {
    margin-top: 20px;
}
